/* *****CSS FOR ALL PAGES***** */

.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: radial-gradient(
    rgba(128, 128, 128, 0.404),
    rgba(219, 214, 214, 0.906),
    grey
  );
}

nav {
  box-shadow: 5px 5px 5px gray;
  font-family: "Mystery Quest", system-ui;
  border-radius: 5px;
}

.nav-item {
  margin: 0px 60px;
  font-size: x-large;
  font-weight: bolder;
}

a:hover {
  transform: scale(1.2);
  transition: transform 2s;
  color: red;
}

.wonderGif {
  margin: 0px 11px;
}

.title {
  display: flex;
  justify-content: center;
  color: darkblue;
  font-weight: bolder;
  margin-top: 30px;
  font-family: "Mystery Quest", system-ui;
}

.upperSection div {
  margin: auto;
  margin-top: 10px;
  color: darkblue;
  font-family: "Mystery Quest", system-ui;
}

.lowerSection {
  display: flex;
  justify-content: center;
  font-family: "Mystery Quest", system-ui;
}

.lowerSection .card {
  margin: 50px;
  text-align: center;
  color: darkblue;
}

footer {
  /* background-image: linear-gradient(grey, rgba(219, 214, 214, 0.906), darkblue); */
  background-color:rgba(219, 214, 214, 0.906);
  padding: 5px 20px;
  font-weight: bolder;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  font-family: "Mystery Quest", system-ui;
  box-shadow: 5px -5px 5px gray;
  border-radius: 10px;
}

#copyRight {
  font-size: 12px;
  margin-top: 20px;

}

/* .connectFooter {
  display: flex;
  font-size: medium;
} */

.connectFooter img {
  width: 40px;
  box-shadow: 5px 5px 5px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: medium;
  width: 200px;
}

.connect img {
  box-shadow: 5px 5px 5px;
}
.connectFooter img:hover {
  transform: rotate(359deg);
  transition: transform 2s;
}
/* ****Did additional Internal Styling for Index and Contact pages *** */
